.password-icon {
  color: #0c6efd;
  cursor: pointer;
  position: absolute;
  right: 1.5vw;
}

.password-field {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  position: relative;
}

.card-title {
	text-align: center;
}

.card {
	min-height: 400px;
}

dd.arrow {
	text-align: center;
	font-size: 1.5rem;
}