<p>Wassup {{ user.name }} ! 👋</p>
<p>Otvorili ste račun na <strong>{{siteName}}</strong>.</p>
<p>
  <a href="{{verifyUrl}}">
    Klikom na ovaj link potvrđujete vašu email adresu i možete nastaviti sa podešavanjem aplikacije.
  </a>

<p>Ako vam je jednostavnije, kopirajte ovaj link u vaš internet preglednik:<br/>  
  <em>{{ verifyUrl }}</em>
</p>







